body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-main);
}

/* BootStrap Overrides */
.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: #fff;
}

.btn-primary:hover {
  background-color: rgba(var(--color-primary-rgb), 0.85) !important; /* 85% opacity */
  border-color: rgba(var(--color-primary-rgb), 0.85) !important;
}