/*  Navbar styles */
nav {
    color: var(--color-primary) !important;
}

nav .logo-text {
    color: var(--color-primary) !important;
}

nav .nav-link {
    color: var(--color-gray-3) !important;
}

nav .nav-link:hover {
    color: var(--color-primary) !important;
}

/* Footer styles */
footer {
    background-color: var(--color-primary) !important;
    color: var(--color-white);
}

footer a {
    color: var(--color-gray-4) !important;
    text-decoration: none !important; 
}

footer a:hover {
    color: var(--color-white) !important;
}

footer .footer-socials a {
    color: inherit !important;
    text-decoration: none !important;
}

/* Progress bar styles */
header .progress-bar {
    background-color: var(--color-primary) !important;
}