/* Landing Page */

.hero {
    background: 
    linear-gradient(rgba(var(--color-primary-rgb), 0.7), rgba(var(--color-primary-rgb), 0.7)),
        url('../images/hero_bg.jpg') no-repeat center center;
    background-size: cover;
    max-width: 100% !important;
}

.hero-title {
    font-size: clamp(3rem, 6vw, 5rem); 
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    color: var(--color-white)
}

.hero-form {
    color: var(--color-primary) !important;
    box-shadow: var(--shadow-card);
    border-radius: 15px;
}

.hero-form .form-label {
    color: var(--color-primary) !important;
}

.hero-form .form-control {
    border: 0;
    background-color: var(--color-gray-6);
    text-align: center;
}

.getaway-card {
    border-radius: 10px;
    box-shadow: var(--shadow-card);
}

.getaway-card img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
}

/* Flights page */

.list-odd {
    background-color: var(--color-gray-6);
}

.list-even {
    background-color: var(--color-white);
}

.sticky-bottom-btn {
  position: sticky;
  bottom: 0;
  background: white; /* Match your page background */
  padding: 1rem;
  z-index: 100; /* Keep it above content but below navbar if needed */
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05); /* subtle shadow */
}

.custom-progress-bar {
    max-width: 800px !important;
}

.flights-results-container {
    max-width: 800px !important;
}